p {
    font-size: 20px;
    color: yellow
}

a {
    color: pink;
}
body {
    margin: 60px;
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, yellow, blue, green, purple, black);
    background-size: 200% 200%;
    animation: gradient 8s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 12%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0 12%;
    }
}

h1 {
    text-align: center;
    font-size: 60px;
    color: blue;
    text-shadow: 0 1px 0 #c0c0c0,
    0 2px 0 #b0b0b0,
    0 3px 0 #a0a0a0,
    0 4px 0 #909090,
    0 5px 10px rgba(0, 0, 0, .9);
}

