/* 基础样式 */
body {
    margin: 60px;
    width: 100%;
    height: 100vh;
    background-image: url('https://zhaobokai341.github.io/img/my_photo2.jpg'); /* 替换为你的小格子图像 */
    background-size: 300px 300px;
    background-repeat: repeat;
    background-attachment: fixed;
    position: relative;
    cursor: url('../img/my_photo.cur'), auto; /* 默认光标样式 */
}


/* 段落样式 */
p {
    font-size: 20px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* 链接样式 */
a {
    color: #ff69b4;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: url('../img/my_photo2.cur'), pointer; /* 链接光标样式 */
}

a:hover {
    color: #ff1493;
    cursor: url('../img/my_photo2.cur'), pointer; /* 链接悬停光标样式 */
}

/* 确保点击时也使用自定义光标 */
a:active {
    cursor: url('../img/my_photo2.cur'), pointer;
}

/* 标题样式 */
h1 {
    text-align: center;
    font-size: 60px;
    color: #ff8c00;
    text-shadow: 0 1px 0 #c0c0c0,
    0 2px 0 #b0b0b0,
    0 3px 0 #a0a0a0,
    0 4px 0 #909090,
    0 5px 10px rgba(0, 0, 0, .5);
    margin-bottom: 40px;
}

h2, h3, h4, h5, h6 {
    text-shadow: 0 1px 0 #c0c0c0,
    0 2px 0 #b0b0b0,
    0 3px 0 #a0a0a0,
    0 4px 0 #909090,
    0 5px 10px rgba(0, 0, 0, .5);
    margin-bottom: 20px;
    color: #333;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 18px;
}